@import '../colors.module.scss';

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .main {
        max-width: 800px;
        padding: 5rem 0;
    }

  }
  
 